:root {
  --color-bg-default: #172b4d;
  --color-primary: #11b3cf;
  --color-primary-light: #11cdef;
  --color-primary-dark-1: #1171ef;
  --color-primary-dark-2: #004b77;
  --color-secondary: #e6681f;
  --color-secondary-dark-1: #db5f17;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  padding: 0;

  background-color: var(--color-bg-default);
  height: 120vh;
  display: flex;
  flex-flow: column;
  position: relative;
  justify-content: flex-start;
}

.bg__header {
  height: 65vh;
  top: 0;
  width: 100%;
  background-image: linear-gradient(
    87deg,
    var(--color-primary-light),
    var(--color-primary-dark-1)
  );
  clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 100%);
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: -1;
}
