table#sharesTable {
  background-size: cover;
  border-collapse: collapse;
  width: 100%;
  font-family: inherit;
  color: var(--color-grey-dark-1);
  tbody tr {
    transition: all 0.2s;
  }

  tbody tr:active {
    background: rgba(#11cdef, 1);
  }

  tbody tr:nth-child(odd) {
    background: rgba(#11cdef, 0.1);
  }

  tbody tr:hover {
    background: rgba(#11cdef, 0.3);
    cursor: pointer;
  }
}

table#sharesTable td,
tr {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

table#sharesTable caption {
  font-size: larger;
  padding: 0.5rem;
}
table#sharesTable td {
  padding: 0.5em;
}
table#sharesTable thead tr {
  background: rgba(#11cdef, 0.5);
  text-align: left;
  font-size: 1.2rem;
  padding: 0.2rem;
}

table#sharesTable tfoot tr {
  font-weight: 600;
}
