td {
  input {
    text-align: center !important;
    color: white !important;
    background-color: transparent !important;
    border-color: transparent !important;

    &:hover {
      background-color: white !important;
      color: var(--dark) !important;
    }
    &::placeholder {
      color: white !important;
      opacity: 0.7 !important;
    }
  }
}

.dropdown-menu {
  .dropdown-item {
    &.active {
      background-color: rgb(23, 162, 184) !important;
    }
  }
}
