.mainview {
  &-container {
    margin: 3rem auto;
    max-width: 140rem;
    min-width: 138rem;
    background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;
    z-index: 1;
  }
}
